@model Draft14.Models.Drafted

@{
    ViewBag.Title = "Move";
    ViewBag.DraftType = "M";
}

@{Html.RenderPartial("DraftBase", Model);}

<div>
    @Html.ActionLink("Cancel", "Roster", "RotoTeam", new { id = Model.RotoTeamId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
